body {
    font-family: monospace;
    background-color: #0d0d0d;
}

#main_nav {
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    padding: 10px;
    border-radius: 10px;
    margin: 2%
}

main {
    padding: 10px;
    border-radius: 10px;
    margin: 2%;
    background-color: #212121;
    color: white;
}
