main {
    padding: 10px;
    border-radius: 10px;
    margin: 10%;
    background-color: rgb(33, 33, 33);
    color: white;
}
body {
    font-family: monospace;
    background-color: rgb(13, 13, 13);
}